.product {
  width: 90%;
  &__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #666;
    color: #fff;
    font-weight: 600;
  }
  &__meta {
    display: block;
  }
}
