.wrapper-section {
  background-color: white;
  box-shadow: 1px 2px 4px $shadowGrey;
  border-radius: 1.6rem;
  padding: 2rem;

  & + .wrapper-section {
    margin-top: 2rem;
  }
}

.wrapper-section__title {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.wrapper-section__actions {
  margin-left: auto;
}