.period {
  &__input {
    width: 22.1rem;
    height: 6rem;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1.5rem;
  }
  &__picker {
    position: absolute;
    top: 6rem;
    right: -6rem;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1100;
    // &_active {
    //   @media (max-width: 1160px) {
    //     right: -240px;
    //   }
    //   @media (max-width: 890px) {
    //     right: -160px;
    //   }
    //   @media (max-width: 780px) {
    //     right: -35px;
    //   }
    //   @media (max-width: 675px) {
    //     right: 30px;
    //   }
    //   @media (max-width: 644px) {
    //     right: -232px;
    //   }
    //   @media (max-width: 465px) {
    //     right: -80px;
    //   }
    //   @media (max-width: 385px) {
    //     right: -35px;
    //   }
    //   @media (max-width: 355px) {
    //     right: -25px;
    //   }
    //   @media (max-width: 345px) {
    //     right: -88px;
    //   }
    // }
  }
  &__picker_button {
    width: 100%;
    height: 35px;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
    background-color: #fafafa;
    border: none;
    color: #433;
    &:hover {
      background-color: #eee;
    }
    &_active {
      background-color: #08c;
      color: #fff;
      &:hover {
        background-color: #08c;
      }
    }
    &:nth-of-type(2n + 1) {
      padding-left: 20px;
    }
    &:nth-of-type(2n) {
      padding-left: 0px;
    }
  }
}
